

.app_logo {
  /*사이즈 수정하기*/
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 40s linear;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(0deg);
  }
}