*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_header{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.app_header>div:nth-child(1){
  position: absolute;
  width: 830px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app_logo {
  width: 830px;
  pointer-events: none;
  animation: App-logo-spin infinite 40s linear;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.app_header>div:nth-child(2) {
  position: absolute;
  bottom: 25vh;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #333333;
  cursor: pointer;
}

.app_header>div:nth-child(3) {
  position: absolute;
  bottom: 25vh;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #333333;
  cursor: pointer;
}